@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --color-brand: #E30613;
  --color-brand-hover: #b90510;
  --color-brand-yellow: #FFDE00;
}

body {
  overscroll-behavior-y: none;
  -webkit-tap-highlight-color: transparent;
}
